<!doctype html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Carica e Valida CSV</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <!-- MSAL library per la pulizia della cache -->
  <script src="https://alcdn.msauth.net/browser/2.38.0/js/msal-browser.min.js"></script>
  <!-- JS Modules -->
  <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>

<body>
  <!-- Navbar con pulsante Logout -->
  <div>{% include 'nav.html' %}</div>

  <!-- Main Content -->
  <main class="container">
    <h1>Elaborazione RITM</h1>

    <!-- CSV File -->
    <div class="fieldGroup">
      <label for="FileInput" id="FileInputLabel">Seleziona la RITM</label>
      <input id="FileInput" type="file" accept=".xls,.xlsx" />
      <div id="csvFileSelected">
        <p id="fileName">Nessun file selezionato</p>
        <button id="btnReset" type="button">x</button>
      </div>
    </div>

    <!-- Validate Button -->
    <button id="btnValidate" class="primary-btn" type="button">Valida Dati</button>

    <!-- Output Area -->
    <div id="outputArea"></div>

    <!-- Error Area -->
    <div id="errorArea"></div>

    <!-- Azure Step-by-Step Check -->
    {% include 'azure_status.html' %}
  </main>

  <script>
    async function logout() {
      // Rimozione Cookie
      document.cookie = "access_token=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC; SameSite=Lax";

      // Rimozione Token Fake e Storage
      localStorage.clear();
      sessionStorage.clear();

      // Redirect a /
      window.location.href = "/";
    }
  </script>
</body>

</html>